
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>profile</title>
</head>
<body>
    <div>
        @Html.ActionLink("History", "bookingdetails")
        @Html.ActionLink("Cancel", "Cancel")
        @Html.ActionLink("Carlist", "cardetails")
        @Html.ActionLink("Editprofile", "Editprofile")
        @Html.ActionLink("Editbooking", "Editbooking")

    </div>
</body>
</html>
