@model BusinessEntity.CustomerBE
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>

        <form method="post">
            <table>
                @*<tr>
            <td> Enter customer Id </td>
            <td>@Html.TextBoxFor(s => s.custid, new { @class = "form-control" }) </td>
            <td> @Html.ValidationMessageFor(s => s.custid) </td>
        </tr>*@
            
                <tr>
                    <td>Enter customer Name </td>
                    <td>   @Html.TextBoxFor(c => c.custname, new { @type = "name" }) </td>
                    <td> @Html.ValidationMessageFor(c => c.custname) </td>
                </tr>
                <tr>
                    <td>Enter Password</td>
                    <td>  @Html.PasswordFor(c => c.pwd) </td>
                    <td> @Html.ValidationMessageFor(c => c.pwd) </td>

                </tr>
                <tr>
                    <td> Confirm Password </td>
                    <td>  @Html.PasswordFor(c => c.confirmpassword) </td>
                    <td> @Html.ValidationMessageFor(c => c.confirmpassword) </td>
                </tr>
                

                <tr>
                    <td>Gender</td>
                    <td>
                        Male    @Html.RadioButtonFor(c => c.gender, true)
                        Female  @Html.RadioButtonFor(c => c.gender, false)
                    <td> @Html.ValidationMessageFor(c => c.gender) </td>
                    </td>

                </tr>
               
                <tr>
                    <td> Date of Birth</td>
                    <td>   @Html.TextBoxFor(c => c.DOB, new { @type = "date" }) </td>
                    <td> @Html.ValidationMessageFor(c => c.DOB) </td>
                </tr>
                   
                <tr>
                    <td>Enter phonenumber</td>
                    <td>   @Html.TextBoxFor(c => c.phonenum, new { @type = "phonenumber" }) </td>
                    <td> @Html.ValidationMessageFor(c => c.phonenum) </td>
                </tr>
              
                <tr>
                    <td>Enter email</td>
                    <td>   @Html.TextBoxFor(c => c.email, new { @type = "Email" }) </td>
                    <td> @Html.ValidationMessageFor(c => c.email) </td>
                </tr>

                <tr>
                    <td></td>
                    <td> <input type="submit" value="Add Customer" class="btn-primary" /></td>
                </tr>
            </table>
        </form>
        <h5 style="color:darkred"> @ViewData["status"] </h5>


    </div>
</body>
</html>

