@model IEnumerable<BusinessEntity.VehiclesBE>
@{
    ViewBag.Title = "Bookedcars";
    Layout = "~/Views/shared/Sitemaster1.cshtml";
}

<h2>Bookedcars</h2>

<table style=" border:3px ridge red; background-color :lightgoldenrodyellow">
    <tr style=" border: 3px ridge red">
        <td style="border : 2px double black"> <label style="font-weight : bold"> car id </label></td>
        <td style="border : 2px double black"><label style="font-weight : bold"> AC i </label></td>
        <td style="border : 2px double black"> <label style="font-weight : bold"> Availablity  </label></td>
        <td style="border : 2px double black"> <label style="font-weight : bold"> fuel Mode  </label></td>
        <td style="border : 2px double black"> <label style="font-weight : bold"> Images   </label></td>
        <td style="border : 2px double black"> <label style="font-weight : bold"> Model   </label></td>
        <td style="border : 2px double black"> <label style="font-weight : bold"> Rent per day   </label></td>
    </tr>
    @foreach (var item in Model)
    {
<tr style=" border: 3px ridge red">
    <td style="border : 2px double black"> @item.carid </td>
    <td style="border : 2px double black"> @item.ACtype </td>
    <td style="border : 2px double black"> @item.available</td>
    <td style="border : 2px double black"> @item.fuelmode</td>
    <td style="border : 2px double black"> @item.images</td>
    <td style="border : 2px double black"> @item.model</td>
    <td style="border : 2px double black"> @item.rentperday</td>
</tr>
    }
</table>